# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы среды разработки
.vscode/
.idea/

# Артефакты сборки и виртуальное окружение Python
__pycache__/
*.py[cod]
*.so
.env
venv/
env/

# Файлы логов
*.log